@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
      1200px circle at 10% 10%,
      rgba(99, 102, 241, 0.08),
      transparent 40%
    ),
    radial-gradient(
      800px circle at 90% 30%,
      rgba(56, 189, 248, 0.08),
      transparent 40%
    ),
    #050505;
}
